<?xml version="1.0"?>
<config>
    <modules>
        <MK_Payment>
            <version>1.0.0</version>
        </MK_Payment>
    </modules>
    <global>
        <models>
            <mkpayment>
                <class>MK_Payment_Model</class>
            </mkpayment>
        </models>
        <resources>
            <payment_setup>
                <setup>
                    <module>MK_Payment</module>
                </setup>
            </payment_setup>
        </resources>
        <blocks>
            <mkpayment>
                <class>MK_Payment_Block</class>
            </mkpayment>
        </blocks>
        <helpers>
            <mkpayment>
                <class>MK_Payment_Helper</class>
            </mkpayment>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <MK_Payment>
                    <files>
                        <default>MK_Payment.csv</default>
                    </files>
                </MK_Payment>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MK_Payment>
                    <files>
                        <default>MK_Payment.csv</default>
                    </files>
                </MK_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <free>
                <active>1</active>
                <model>mkpayment/method</model><!--method - название модели(самого файла)-->
                <order_status>pending</order_status>
                <title>Secret Code</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>offline</group>
            </free>
        </payment>
    </default>
</config>
